<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LevelEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LevelEditor.Properties.Settings>
            <setting name="ImageBaseFolder" serializeAs="String">
                <value>\Images</value>
            </setting>
            <setting name="addNewLevelMinX" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="addNewLevelMaxX" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="addNewLevelMinY" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="addNewLevelMaxY" serializeAs="String">
                <value>5</value>
            </setting>
        </LevelEditor.Properties.Settings>
    </userSettings>
</configuration>